* {
    margin: 0;
    padding: 0;
}

header,
main,
footer,
nav,
section {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

#logo {
    display: block;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    position: relative;
    width: 90px;
    height: 90px;
    margin: 0px auto;
    top: 25%;
}

header {
    height: 192px;
    background-color: #d6d6d6;
}

nav {
    background-color: #222222;
}

ul {
    list-style-type: none;
    height: 62px;
}

li a {
    text-decoration: none;
    color: white;
    padding: 13px 85px;
}

.flex {
    display: flex;
    align-items: center;
}

.not-selected:hover {
    background-color: #2f95b494;
}

.selected {
    background-color: #2f96b4;
    margin-right: 0px;
}

.wrapper {
    min-width: 200px;
    max-width: 1000px;
    margin: 0px auto;
}

.mainIndex {
    background-color: #ffffff;
    height: 700px;
}

.section1 {
    max-width: 714px;
    height: 700px;
    float: left;
    position: relative;
}

.section2 {
    background-color: #eeeeee;
    width: 248px;
    height: 700px;
    float: right;
}

.big_box {
    height: 270px;
    width: 270px;
    margin-top: 24px;
}

.small_box {
    height: 100px;
    width: 100px;
    display: block;
    margin: 0px 35px 35px 0px;
    float: left;
    background-color: #B94A48;
}

.big_box2 {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.small_box2 {
    margin: 10px 25px 25px 10px;
}

.mini_box_sec2 {
    height: 59px;
    width: 148px;
    background-color: #B94A48;
    position: relative;
    top: 200px;
    left: 81px;
}

footer {
    height: 50px;
    background-color: #d6d6d6;
    /* clear: both; */
}

.layout2 .wrapper {
    height: 758px;
    width: 1000px;
    display: flex;
}

.layout2 nav {
    width: 145px;
    height: 845px;
}

.layout2 li a {
    padding: 20px 0 20px 5px;
    display: block;
}

.layout2 main {
    width: 257px;
    height: 845px;
    background-color: #eeeeee;
    position: relative;
}

.layout2 .big_box {
    position: absolute;
    bottom: 80px;
    left: 11px;
}

.layout2 .small_box {
    background-color: #468847;
}

.layout2 aside {
    width: 598px;
    height: 845px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.layout2 .aside_small_box {
    width: 270px;
    background-color: #468847;
    display: block;
}

.layout2 .aside-box1 {
    height: 323px;
    margin: 22px 16px 24px 22px;
}

.layout2 .aside-box2 {
    height: 412px;
    margin: 0 16px 22px 22px;
}

.layout2 .aside-box3 {
    height: 253px;
    margin: 22px 19px 24px 0px;
}

.layout2 .aside-box4 {
    height: 361px;
}

.layout2 footer {
    position: fixed;
    bottom: 0px;
}

.layout3 li {
    width: 100%;
    max-width: 233px;
}

.layout3 li a {
    display: block;
    max-width: 233px;
    line-height: 62px;
    padding: 0;
    text-align: center;
}

.layout3 ul {
    display: flex;
    justify-content: center;
}

.box {
    width: 333px;
    height: 348px;
    position: relative;
    display: flex;
}

.imagePlus {
    background-image: url("../images/plus-symbol-button-svgrepo-com.svg");
    background-repeat: no-repeat;
    width: 86px;
    height: 86px;
    margin: auto;
}

#boxList {
    display: flex;
    flex-wrap: wrap;
}

.star {
    position: absolute;
    background-repeat: no-repeat;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-image: url("../images/whiteStar.svg");
}

.boxImage {
    visibility: hidden;
    width: 180px;
    height: 180px;
    background-image: url("");
    background-repeat: no-repeat;
    margin: auto;
}

@media only screen and (max-width:666px) {
    #boxList {
        justify-content: center;
    }
}